<h1>LOGIN</h1>

<form action="" id="loginForm">
    <label for="">Correo</label>
    <input type="email" name="email">
    <label for="">Password</label>
    <input type="password" name="password">
    <button type="submit">Iniciar Sesión</button>
</form>
<button>
    <a href="/api/auth/github">Ingresar con github</a>
</button>
<a href="http://localhost:8080/signup">Registrase</a>

<script src="/src/public/js/login.js"></script>