<h2>Prfile</h2>

<form action="" id="signupForm">
    <label for="">Nombre</label>
    <p>{{user.first_name}}</p>
    <label for="">Apellido</label>
    <p>{{user.last_name}}</p>
    <label for="">Edad</label>
    <p>{{user.age}}</p>
    <label for="">Correo</label>
    <p>{{user.email}}</p>
</form>

<script src="/src/public/js/index.js"></script>