<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
    <title>{{{title}}}</title>
</head>
<body>
    {{{body}}}
</body>
<script src="/src/public/js/index.js"></script>
</html>